@model IEnumerable<ReadyRecruit.Models.Substep>

@{
    ViewBag.Title = "Index";
}

<h2>Substeps</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubstepID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
      <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Headstep.HeadstepID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Headstep.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubstepID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Headstep.HeadstepID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Headstep.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubstepID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubstepID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubstepID })
        </td>
    </tr>
}

</table>
