<!DOCTYPE html>
<html>
<head>


    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ready Recruit</title>
    <script type="text/javascript">
        function toggle_notes_show(id) {
            var e = document.getElementById(id);
            if (e.style.display == 'none') {
                e.style.display = 'block';
            } else {
                e.style.display = 'none';
            }
        }
    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-static-top" id="navvy">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="Home" class="navbar-brand" href="~/Home/Index"><span><img src="~/Content/images/Ready Recruit!_clipped_rev_1.png" /></span></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="glyphicon glyphicon-glass"></span>
                </button>
                @*@Html.ActionLink("Ready Recruit", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    @*<li>@Html.ActionLink("Profile", "Index", "Profiles")</li>
                    <li>@Html.ActionLink("Link", "Index", "Links")</li>
                    <li>@Html.ActionLink("Roadmap", "Index", "Roadmaps")</li>
                    <li>@Html.ActionLink("Mainstep", "Index", "Mainsteps")</li>
                    <li>@Html.ActionLink("Headstep", "Index", "Headsteps")</li>
                    <li>@Html.ActionLink("Substep", "Index", "Substeps")</li>*@
                    @*<li>@Html.ActionLink("Education", "Index", "Educations")</li>
                        <li>@Html.ActionLink("Gender", "Index", "Genders")</li>
                        <li>@Html.ActionLink("Marital", "Index", "MaritalStats")</li>*@
                    @*<li>@Html.ActionLink("PriorService", "Index", "PriorServices")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - My ASP.NET Application
            </p>

            <div class="row">
                <div class="col-md-1 profilespics">
                    <img src="~/Content/images/Diane headshot.jpg" />
                </div>
                <div class="col-md-2 profileinfo">
                    <div class="row profilename">
                        Diane Korpics
                    </div>
                    <div class="row profilelink">
                        <a href="https://dkorpics7.github.io">Portfolio</a>
                    </div>
                </div>

                <div class="col-md-1 profilespics">
                    <img src="~/Content/images/Diane headshot.jpg" />
                </div>
                <div class="col-md-2 profileinfo">
                    <div class="row profilename">
                        Diane Korpics
                    </div>
                    <div class="row profilelink">
                        <a href="https://dkorpics7.github.io">Portfolio</a>
                    </div>
                </div>

                <div class="col-md-1 profilespics">
                    <img src="~/Content/images/Diane headshot.jpg" />
                </div>
                <div class="col-md-2 profileinfo">
                    <div class="row profilename">
                        Diane Korpics
                    </div>
                    <div class="row profilelink">
                        <a href="https://dkorpics7.github.io">Portfolio</a>
                    </div>
                </div>

                <div class="col-md-1 profilespics">
                    <img src="~/Content/images/Diane headshot.jpg" />
                </div>
                <div class="col-md-2 profileinfo">
                    <div class="row profilename">
                        Diane Korpics
                    </div>
                    <div class="row profilelink">
                        <a href="https://dkorpics7.github.io">Portfolio</a>
                    </div>
                </div>

            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Content/Java/carousel.js"></script>

</body>
</html>
