@model IEnumerable<ReadyRecruit.Models.Education>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EduLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EduLevel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EducationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EducationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EducationID })
        </td>
    </tr>
}

</table>
