@model IEnumerable<ReadyRecruit.Models.SubStat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link.LinkID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Substep.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link.LinkID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Substep.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubStatID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubStatID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubStatID })
        </td>
    </tr>
}

</table>
