@model IEnumerable<ReadyRecruit.Models.Pages>
@using ReadyRecruit.Models

@{
    ViewBag.Title = "Roadmap";
}
@{
    var pages = (Pages)ViewData["Pages"];
    var m = 0;
    int progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
}

@* Facebook SDK script *@
<div id="fb-root"></div>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '826214930878628',
            xfbml: true,
            version: 'v2.9'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=826214930878628";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


</script>

<div class="outlinePage">

    @if (pages.NumPages >= 1)
    {
        m = 1;
        <section id="Step1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 outline">
                        <div class="row outlinetext">
                            <h1>@pages.Title[m]</h1><hr />
                            @for (int i = 1; i <= pages.NumHeadings[m]; i++)
                            {
                                pages.Ihead = i;
                                <h2>
                                    @*@using (Html.BeginForm())
                                        {
                                            <input type="text" name="Notes" />
                                            <input type="submit" value="Save Notes" />
                                        }
                                        <a href="@Url.Action("SaveNotes", new { id = pages.HStatID[m, i],id2=m,notes = @Notes})">
                                                <span class="glyphicon glyphicon-list"></span>

                                        </a>*@
                                    <a href="#">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </a>
                                    @pages.Headings[m, i]
                                </h2>

                                for (int j = 1; j <= pages.NumSubsteps[m, i]; j++)
                                {
                                    pages.Jsub = j;
                                    <h3>
                                        <a href="@Url.Action("ToggleDoneSub", new { id = pages.SStatID[m, i, j] })">
                                            @if (pages.IsSubDone[m, i, j])
                                            {
                                                <span class="glyphicon glyphicon-check"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-unchecked"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                        </a>
                                        @pages.Substeps[m, i, j]
                                    </h3>
                                }
                            }
                        </div>
                        <div class="row selections">
                            <hr />
                            @*<div class="left">
                                    <a href="#" class="glyphicon glyphicon-triangle-left"></a>
                                    <a href="#">Prev</a>
                                </div>*@
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Yes", "StepPage", "Mainsteps", protocol: null, hostName: null, fragment: "Step2", routeValues: null, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("No", "StepPage", "Mainsteps", protocol: null, hostName: null, fragment: "Step2", routeValues: null, htmlAttributes: null)
                                @*popup a window to congratulate them on their decision and give them
                                    option to continue to explore or logoff*@
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Undecided", "StepPage", "Mainsteps", protocol: null, hostName: null, fragment: "Step2", routeValues: null, htmlAttributes: null)
                            </button>
                            <div class="right">
                                <a href="#Step2">Next</a>
                                <a href="#Step2" class="glyphicon glyphicon-triangle-right"></a>
                            </div>
                        </div>
                    </div>@* end of col-md-8 *@

                    <div class="col-md-4 rightcolumn">
                        <div class="row bar">
                            <div class="progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow='@progress'
                                 aria-valuemin="0" aria-valuemax="100" style="width:@progress%">
                                <span>@progress% Complete</span>
                            </div>
                        </div>

                        <div class="row facebookAPI">
                            <div class="fb-page" data-href="https://www.facebook.com/USMilitary/" data-tabs="timeline, events" data-width="410" data-height="410" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/USMilitary/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/USMilitary/">U.S. Military on Facebook</a></blockquote></div>
                            @*<p>There can be lots of links and information here.  We have articles from API's, forums, testimonial videos, or links to newsletters.  We can also put the overall roadmap here -- the main steps.</p>*@
                        </div>
                        @* Facebook like/share plugin code *@
                        <div class="fb-like"
                             data-share="true"
                             data-width="450"
                             data-show-faces="true">
                        </div>

                    </div>

                </div>
            </div>
        </section>
    }
    @if (pages.NumPages >= 2)
    {
        m = 2;
        <section id="Step2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 outline">
                        <div class="row outlinetext">
                            <h1>@pages.Title[m]</h1><hr />
                            @for (int i = 1; i <= pages.NumHeadings[m]; i++)
                            {
                                pages.Ihead = i;
                                <h2>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </a>@pages.Headings[m, i]
                                </h2>
                                for (int j = 1; j <= pages.NumSubsteps[m, i]; j++)
                                {
                                    pages.Jsub = j;
                                    <h3>
                                        <a href="@Url.Action("ToggleDoneSub", new { id = pages.SStatID[m, i, j] })">
                                            @if (pages.IsSubDone[m, i, j])
                                            {
                                                <span class="glyphicon glyphicon-check"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-unchecked"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                        </a>
                                        @pages.Substeps[m, i, j]
                                    </h3>
                                }
                            }
                        </div>
                        <div class="row selections">
                            <hr />
                            <div class="left">
                                <a href="#Step1" class="glyphicon glyphicon-triangle-left"></a>
                                <a href="#Step1">prev</a>
                            </div>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Army", "Army", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Airforce", "Airforce", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Navy", "Navy", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Marines", "Marines", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Coast Guard", "CoastGuard", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("still undecided", "NoBranch", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <div class="right">
                                <a href="#Step3">Next</a>
                                <a href="#Step3" class="glyphicon glyphicon-triangle-right"></a>
                            </div>
                        </div>
                    </div>@* end of col-md-8 *@

                    <div class="col-md-4 rightcolumn">
                        <div class="row bar">
                            <div class="progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow='@progress'
                                 aria-valuemin="0" aria-valuemax="100" style="width:@progress%">
                                <span>@progress% Complete</span>
                            </div>
                        </div>

                        <div class="redditAPI">
                            <script src="https://www.reddit.com/r/Militaryfaq/.embed?limit=5" type="text/javascript"></script>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    }
    @if (pages.NumPages >= 3)
    {
        m = 3;
        <section id="Step3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 outline">
                        <div class="row outlinetext">
                            <h1>@pages.Title[m]</h1><hr />
                            @for (int i = 1; i <= pages.NumHeadings[m]; i++)
                            {
                                pages.Ihead = i;
                                <h2>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </a>@pages.Headings[m, i]
                                </h2>
                                for (int j = 1; j <= pages.NumSubsteps[m, i]; j++)
                                {
                                    pages.Jsub = j;
                                    <h3>
                                        <a href="@Url.Action("ToggleDoneSub", new { id = pages.SStatID[m, i, j] })">
                                            @if (pages.IsSubDone[m, i, j])
                                            {
                                                <span class="glyphicon glyphicon-check"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-unchecked"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                        </a>
                                        @pages.Substeps[m, i, j]
                                    </h3>
                                }
                            }
                        </div>
                        <div class="row selections">
                            <hr />
                            <div class="left">
                                <a href="#Step2" class="glyphicon glyphicon-triangle-left"></a>
                                <a href="#Step2">prev</a>
                            </div>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Enlisted", "Enlisted", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Commissioned", "Commissioned", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Warrant Officer", "Warrant", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("still undecided", "NoTitle", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <div class="right">
                                <a href="#Step4">Next</a>
                                <a href="#Step4" class="glyphicon glyphicon-triangle-right"></a>
                            </div>
                        </div>
                    </div>@* end of col-md-8 *@

                    <div class="col-md-4 rightcolumn">

                        <div class="row bar">
                            <div class="progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow='@progress'
                                 aria-valuemin="0" aria-valuemax="100" style="width:@progress%">
                                <span>@progress% Complete</span>
                            </div>
                        </div>
                        <div class="row pic">
                            @*<img src="~/Content/images/iwojima.jpg" />*@
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }
    @if (pages.NumPages >= 4)
    {
        m = 4;
        <section id="Step4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 outline">
                        <div class="row outlinetext">
                            <h1>@pages.Title[m]</h1><hr />
                            @for (int i = 1; i <= pages.NumHeadings[m]; i++)
                            {
                                pages.Ihead = i;
                                <h2>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </a>@pages.Headings[m, i]
                                </h2>
                                for (int j = 1; j <= pages.NumSubsteps[m, i]; j++)
                                {
                                    pages.Jsub = j;
                                    <h3>
                                        <a href="@Url.Action("ToggleDoneSub", new { id = pages.SStatID[m, i, j] })">
                                            @if (pages.IsSubDone[m, i, j])
                                            {
                                                <span class="glyphicon glyphicon-check"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-unchecked"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                        </a>
                                        @pages.Substeps[m, i, j]
                                    </h3>
                                }
                            }
                        </div>
                        <div class="row selections">
                            <hr />
                            <div class="left">
                                <a href="#Step3" class="glyphicon glyphicon-triangle-left"></a>
                                <a href="#Step3">prev</a>
                            </div>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Enlisted", "Enlisted", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Commissioned", "Commissioned", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Warrant Officer", "Warrant", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("still undecided", "NoTitle", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            @if (pages.NumPages != m)
                            {
                                <div class="right">
                                    <a href="#Step5">Next</a>
                                    <a href="#Step5" class="glyphicon glyphicon-triangle-right"></a>
                                </div>
                            }
                        </div>
                    </div>@* end of col-md-8 *@

                    <div class="col-md-4 rightcolumn">

                        <div class="row bar">
                            <div class="progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow='@progress'
                                 aria-valuemin="0" aria-valuemax="100" style="width:@progress%">
                                <span>@progress% Complete</span>
                            </div>
                        </div>
                        <div class="row pic">
                            @*<img src="~/Content/images/iwojima.jpg" />*@
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }
    @if (pages.NumPages >= 5)
    {
        m = 5;
        <section id="Step5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 outline">
                        <div class="row outlinetext">
                            <h1>@pages.Title[m]</h1><hr />
                            @for (int i = 1; i <= pages.NumHeadings[m]; i++)
                            {
                                pages.Ihead = i;
                                <h2>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </a>@pages.Headings[m, i]
                                </h2>
                                for (int j = 1; j <= pages.NumSubsteps[m, i]; j++)
                                {
                                    pages.Jsub = j;
                                    <h3>
                                        <a href="@Url.Action("ToggleDoneSub", new { id = pages.SStatID[m, i, j] })">
                                            @if (pages.IsSubDone[m, i, j])
                                            {
                                                <span class="glyphicon glyphicon-check"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-unchecked"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                        </a>
                                        @pages.Substeps[m, i, j]
                                    </h3>
                                }
                            }
                        </div>
                        <div class="row selections">
                            <hr />
                            <div class="left">
                                <a href="#Step4" class="glyphicon glyphicon-triangle-left"></a>
                                <a href="#Step4">prev</a>
                            </div>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Enlisted", "Enlisted", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Commissioned", "Commissioned", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Warrant Officer", "Warrant", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("still undecided", "NoTitle", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            @if (pages.NumPages != m)
                            {
                                <div class="right">
                                    <a href="#Step6">Next</a>
                                    <a href="#Step6" class="glyphicon glyphicon-triangle-right"></a>
                                </div>
                            }
                        </div>
                    </div>@* end of col-md-8 *@

                    <div class="col-md-4 rightcolumn">

                        <div class="row bar">
                            <div class="progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow='@progress'
                                 aria-valuemin="0" aria-valuemax="100" style="width:@progress%">
                                <span>@progress% Complete</span>
                            </div>
                            <div class="row pic">
                                @*<img src="~/Content/images/iwojima.jpg" />*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    }
    @if (pages.NumPages >= 6)
    {
        m = 6;
        <section id="Step6">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 outline">
                        <div class="row outlinetext">
                            <h1>@pages.Title[m]</h1><hr />
                            @for (int i = 1; i <= pages.NumHeadings[m]; i++)
                            {
                                pages.Ihead = i;
                                <h2>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </a>@pages.Headings[m, i]
                                </h2>
                                for (int j = 1; j <= pages.NumSubsteps[m, i]; j++)
                                {
                                    pages.Jsub = j;
                                    <h3>
                                        <a href="@Url.Action("ToggleDoneSub", new { id = pages.SStatID[m, i, j] })">
                                            @if (pages.IsSubDone[m, i, j])
                                            {
                                                <span class="glyphicon glyphicon-check"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-unchecked"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                        </a>
                                        @pages.Substeps[m, i, j]
                                    </h3>
                                }
                            }
                        </div>
                        <div class="row selections">
                            <hr />
                            <div class="left">
                                <a href="#Step5" class="glyphicon glyphicon-triangle-left"></a>
                                <a href="#Step5">prev</a>
                            </div>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Enlisted", "Enlisted", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Commissioned", "Commissioned", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Warrant Officer", "Warrant", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("still undecided", "NoTitle", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            @if (pages.NumPages != m)
                            {
                                <div class="right">
                                    <a href="#Step7">Next</a>
                                    <a href="#Step7" class="glyphicon glyphicon-triangle-right"></a>
                                </div>
                            }
                        </div>
                    </div>@* end of col-md-8 *@

                    <div class="col-md-4 rightcolumn">

                        <div class="row bar">
                            <div class="progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow='@progress'
                                 aria-valuemin="0" aria-valuemax="100" style="width:@progress%">
                                <span>@progress% Complete</span>
                            </div>
                        </div>
                        <div class="row pic">
                            @*<img src="~/Content/images/iwojima.jpg" />*@
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }
    @if (pages.NumPages >= 7)
    {
        m = 7;
        <section id="Step7">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 outline">
                        <div class="row outlinetext">
                            <h1>@pages.Title[m]</h1><hr />
                            @for (int i = 1; i <= pages.NumHeadings[m]; i++)
                            {
                                pages.Ihead = i;
                                <h2>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </a>@pages.Headings[m, i]
                                </h2>
                                for (int j = 1; j <= pages.NumSubsteps[m, i]; j++)
                                {
                                    pages.Jsub = j;
                                    <h3>
                                        <a href="@Url.Action("ToggleDoneSub", new { id = pages.SStatID[m, i, j] })">
                                            @if (pages.IsSubDone[m, i, j])
                                            {
                                                <span class="glyphicon glyphicon-check"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-unchecked"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                        </a>
                                        @pages.Substeps[m, i, j]
                                    </h3>
                                }
                            }
                        </div>
                        <div class="row selections">
                            <hr />
                            <div class="left">
                                <a href="#Step6" class="glyphicon glyphicon-triangle-left"></a>
                                <a href="#Step6">prev</a>
                            </div>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Enlisted", "Enlisted", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Commissioned", "Commissioned", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Warrant Officer", "Warrant", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("still undecided", "NoTitle", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            @if (pages.NumPages != m)
                            {
                                <div class="right">
                                    <a href="#Step8">Next</a>
                                    <a href="#Step8" class="glyphicon glyphicon-triangle-right"></a>
                                </div>
                            }
                        </div>
                    </div>@* end of col-md-8 *@

                    <div class="col-md-4 rightcolumn">

                        <div class="row bar">
                            <div class="progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow='@progress'
                                 aria-valuemin="0" aria-valuemax="100" style="width:@progress%">
                                <span>@progress% Complete</span>
                            </div>
                        </div>
                        <div class="row pic">
                            @*<img src="~/Content/images/iwojima.jpg" />*@
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }
    @if (pages.NumPages >= 8)
    {
        m = 8;
        <section id="Step8">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 outline">
                        <div class="row outlinetext">
                            <h1>@pages.Title[m]</h1><hr />
                            @for (int i = 1; i <= pages.NumHeadings[m]; i++)
                            {
                                pages.Ihead = i;
                                <h2>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </a>@pages.Headings[m, i]
                                </h2>
                                for (int j = 1; j <= pages.NumSubsteps[m, i]; j++)
                                {
                                    pages.Jsub = j;
                                    <h3>
                                        <a href="@Url.Action("ToggleDoneSub", new { id = pages.SStatID[m, i, j] })">
                                            @if (pages.IsSubDone[m, i, j])
                                            {
                                                <span class="glyphicon glyphicon-check"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-unchecked"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                        </a>
                                        @pages.Substeps[m, i, j]
                                    </h3>
                                }
                            }
                        </div>
                        <div class="row selections">
                            <hr />
                            <div class="left">
                                <a href="#Step7" class="glyphicon glyphicon-triangle-left"></a>
                                <a href="#Step7">prev</a>
                            </div>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Enlisted", "Enlisted", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Commissioned", "Commissioned", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Warrant Officer", "Warrant", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("still undecided", "NoTitle", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            @if (pages.NumPages != m)
                            {
                                <div class="right">
                                    <a href="#Step9">Next</a>
                                    <a href="#Step9" class="glyphicon glyphicon-triangle-right"></a>
                                </div>
                            }
                        </div>
                    </div>@* end of col-md-8 *@

                    <div class="col-md-4 rightcolumn">

                        <div class="row bar">
                            <div class="progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow='@progress'
                                 aria-valuemin="0" aria-valuemax="100" style="width:@progress%">
                                <span>@progress% Complete</span>
                            </div>
                        </div>
                        <div class="row pic">
                            @*<img src="~/Content/images/iwojima.jpg" />*@
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }
    @if (pages.NumPages >= 9)
    {
        m = 9;
        <section id="Step9">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 outline">
                        <div class="row outlinetext">
                            <h1>@pages.Title[m]</h1><hr />
                            @for (int i = 1; i <= pages.NumHeadings[m]; i++)
                            {
                                pages.Ihead = i;
                                <h2>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </a>@pages.Headings[m, i]
                                </h2>
                                for (int j = 1; j <= pages.NumSubsteps[m, i]; j++)
                                {
                                    pages.Jsub = j;
                                    <h3>
                                        <a href="@Url.Action("ToggleDoneSub", new { id = pages.SStatID[m, i, j] })">
                                            @if (pages.IsSubDone[m, i, j])
                                            {
                                                <span class="glyphicon glyphicon-check"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-unchecked"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                        </a>
                                        @pages.Substeps[m, i, j]
                                    </h3>
                                }
                            }
                        </div>
                        <div class="row selections">
                            <hr />
                            <div class="left">
                                <a href="#Step8" class="glyphicon glyphicon-triangle-left"></a>
                                <a href="#Step8">prev</a>
                            </div>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Enlisted", "Enlisted", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Commissioned", "Commissioned", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Warrant Officer", "Warrant", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("still undecided", "NoTitle", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            @if (pages.NumPages != m)
                            {
                                <div class="right">
                                    <a href="#Step10">Next</a>
                                    <a href="#Step10" class="glyphicon glyphicon-triangle-right"></a>
                                </div>
                            }
                        </div>
                    </div>@* end of col-md-8 *@

                    <div class="col-md-4 rightcolumn">

                        <div class="row bar">
                            <div class="progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow='@progress'
                                 aria-valuemin="0" aria-valuemax="100" style="width:@progress%">
                                <span>@progress% Complete</span>
                            </div>
                        </div>
                        <div class="row pic">
                            @*<img src="~/Content/images/iwojima.jpg" />*@
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }
    @if (pages.NumPages >= 10)
    {
        m = 10;
        <section id="Step10">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 outline">
                        <div class="row outlinetext">
                            <h1>@pages.Title[m]</h1><hr />
                            @for (int i = 1; i <= pages.NumHeadings[m]; i++)
                            {
                                pages.Ihead = i;
                                <h2>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </a>@pages.Headings[m, i]
                                </h2>
                                for (int j = 1; j <= pages.NumSubsteps[m, i]; j++)
                                {
                                    pages.Jsub = j;
                                    <h3>
                                        <a href="@Url.Action("ToggleDoneSub", new { id = pages.SStatID[m, i, j] })">
                                            @if (pages.IsSubDone[m, i, j])
                                            {
                                                <span class="glyphicon glyphicon-check"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-unchecked"></span>
                                                progress = Decimal.ToInt32(pages.PointsEarned * 100 / pages.PointsTotal);
                                            }
                                        </a>
                                        @pages.Substeps[m, i, j]
                                    </h3>
                                }
                            }
                        </div>
                        <div class="row selections">
                            <hr />
                            <div class="left">
                                <a href="#Step9" class="glyphicon glyphicon-triangle-left"></a>
                                <a href="#Step9">prev</a>
                            </div>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Enlisted", "Enlisted", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Commissioned", "Commissioned", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Warrant Officer", "Warrant", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("still undecided", "NoTitle", "Mainsteps", protocol: null, hostName: null, fragment: "Step3", routeValues: new { id = pages.LinkID }, htmlAttributes: null)
                            </button>
                        </div>
                    </div>@* end of col-md-8 *@

                    <div class="col-md-4 rightcolumn">

                        <div class="row bar">
                            <div class="progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow='@progress'
                                 aria-valuemin="0" aria-valuemax="100" style="width:@progress%">
                                <span>@progress% Complete</span>
                            </div>
                        </div>
                        <div class="row pic">
                            @*<img src="~/Content/images/iwojima.jpg" />*@
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }
</div>
