@model IEnumerable<ReadyRecruit.Models.Pages>
@using ReadyRecruit.Models

@{
    ViewBag.Title = "Roadmap";
}

@{
    var one = (Pages)ViewData["PageOne"];
}

<section id="Step1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row outline">
                    <h1>@one.Title</h1><hr />
                    @for (int i = 1; i <= one.NumHeadings; i++)
                    {
                        one.Ihead = i;
                        <h2>@one.Headings[i]</h2>
                        for (int j = 1; j <= one.NumSubsteps[i]; j++)
                        {
                            one.Jsub = j;
                            <h3>
                                <a href="@Url.Action("ToggleDoneSub",new { id = one.SStatID[i,j] })">
                                    @if (one.IsSubDone[i, j])
                                    {
                                        <span class="glyphicon glyphicon-check"></span>
                                    }
                                    else
                                    {
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                    }
                                </a>
                                @one.Substeps[i, j]
                            </h3>
                        }
                    }
                    <div class="row selections">
                        <button type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
                        </button>
                        @Html.ActionLink("Yes", "#Step2") |
                        @Html.ActionLink("No", "#") |
                        @Html.ActionLink("Undecided", "#Step2")
                        @*popup a window to congratulate them on their decision and give them
            option to continue to explore or logoff*@
                    </div>
                </div>

            </div> @* end of col-md-8 *@


            <div class="col-md-4 rightcolumn">
                <div class="row">
                    <p>There can be lots of links and information here.  We have articles from API's, forums, testimonial videos, or links to newsletters.  We can also put the overall roadmap here -- the main steps.</p>
                </div>
                <div class="row bar">
                    <div class="progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        <span>70% Complete</span>
                    </div>
                </div>
                <div class="row pic">
                    @*<img src="~/Content/images/iwojima.jpg" />*@
                </div>
            </div>

        </div>
    </div>
</section>


@{
    var two = (Pages)ViewData["PageTwo"];
}

<section id="Step2">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row outline">
                    <h1>@two.Title</h1><hr />
                    @for (int i = 1; i <= two.NumHeadings; i++)
                    {
                        two.Ihead = i;
                        <h2>@two.Headings[i]</h2>
                        for (int j = 1; j <= two.NumSubsteps[i]; j++)
                        {
                            two.Jsub = j;
                            <h3>
                                <a href="@Url.Action("ToggleDone",two)">
                                    @if (two.IsSubDone[i, j])
                                    {
                                        <span class="glyphicon glyphicon-check"></span>
                                    }
                                    else
                                    {
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                    }
                                </a>
                                @two.Substeps[i, j]
                            </h3>
                        }
                    }

                </div>
                <div class="row">
                    @*@Html.ActionLink("Yes", "#Step2")
                        @Html.ActionLink("No", "MilitaryNotRight")*@
                    @*popup a window to congratulate them on their decision and give them
                        option to continue to explore or logoff*@
                </div>
            </div> @* end of col-md-8 *@


            <div class="col-md-4 rightcolumn">
                <div class="row">
                    <p>There can be lots of links and information here.  We have articles from API's, forums, testimonial videos, or links to newsletters.  We can also put the overall roadmap here -- the main steps.</p>
                </div>
                <div class="row bar">
                    <div class="progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        <span>70% Complete</span>
                    </div>
                </div>
                <div class="row pic">
                    @*<img src="~/Content/images/iwojima.jpg" />*@
                </div>
            </div>

        </div>
    </div>
</section>

