@model IEnumerable<ReadyRecruit.Models.Pages>
@using ReadyRecruit.Models

@{
    ViewBag.Title = "Roadmap";
}

@{
    var one = (Pages)ViewData["PageOne"];
}

<section id="Step1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row outline">
                    <h1>@one.Title</h1>
                    @for (int i = 1; i <= one.NumHeadings; i++)
                    {
                        <h2>@one.Headings[i]</h2>
                        for (int j = 1; j <= one.NumSubsteps[i]; j++)
                        {
                            <h3>@one.Substeps[i,j]</h3>
                        }
                    }
                </div>
                <div class="row">
                    @*@Html.ActionLink("Yes", "#Step2")
                        @Html.ActionLink("No", "MilitaryNotRight")*@
                    @*popup a window to congratulate them on their decision and give them
                        option to continue to explore or logoff*@
                </div>
            </div>


            <div class="col-md-4">
                <div class="row">

                </div>
                <div class="row progress-bar-striped">

                </div>
                <div class="row pic">

                </div>
            </div>
        </div>
    </div>





</section>
@*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roadmap.RoadmapName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MainstepID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MainstepID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MainstepID })
            </td>
        </tr>*@

