@model ReadyRecruit.Models.Profile

@{
    ViewBag.Title = "Update Profile";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section id="viewProfile">
        <h1>Update Your Profile</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProfileID)

        <div class="row profileEdit">

            Hi.  My name is

            <div class="form-group">
                @Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.EditorFor(model => model.LName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LName, "", new { @class = "text-danger" })
            </div>

            .  I am a

            <div class="form-group">
                @Html.DropDownList("GenderID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })
            </div>

            who was born on

            <div class="form-group">
                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>

            and am

            <div class="form-group">
                @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
            </div>

            inches tall and weigh

            <div class="form-group">
                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
            </div>

            pounds.  I

            <div class="form-group">
                @Html.DropDownList("EducationID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EducationID, "", new { @class = "text-danger" })
            </div>

            and am

            <div class="form-group">
                @Html.DropDownList("MaritalStatID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaritalStatID, "", new { @class = "text-danger" })
            </div>

            with

            <div class="form-group">
                @Html.EditorFor(model => model.Dependents, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dependents, "", new { @class = "text-danger" })
            </div>

            <span><a href="#" id="dependents" onclick="definition">dependents</a></span>

            .  I have

            @if (Model.PriorServiceID == 1)
            {
                <div class="form-group">
                    <select name="PriorServiceID">
                        <option value="1">no</option>
                        <option value="2">some</option>
                    </select>
                </div>
            }
            else
            {
                <div class="form-group">
                    <select name="PriorServiceID">
                        <option value="2">some</option>
                        <option value="1">no</option>
                    </select>
                </div>
            }
            prior service in the military.  Based on my research so far, I think I would like to be

            @if (Model.Title == "enlisted")
            {
                <div class="form-group">
                    <select name="Title">
                        <option value="enlisted">enlisted</option>
                        <option value="a commissioned officer">a commissioned officer</option>
                        <option value="a warrant officer">a warrant officer</option>
                        <option text="undecided" value="undecided">still undecided</option>
                    </select>
                </div>
            }
            else if (Model.Title == "a commissioned officer")
            {
                <div class="form-group">
                    <select name="Title">
                        <option value="a commissioned officer">a commissioned officer</option>
                        <option value="enlisted">enlisted</option>
                        <option value="a warrant officer">a warrant officer</option>
                        <option text="undecided" value="undecided">still undecided</option>
                    </select>
                </div>
            }
            else if (Model.Title == "a warrant officer")
            {
                <div class="form-group">
                    <select name="Title">
                        <option value="a warrant officer">a warrant officer</option>
                        <option value="enlisted">enlisted</option>
                        <option value="a commissioned officer">a commissioned officer</option>
                        <option text="undecided" value="undecided">still undecided</option>
                    </select>
                </div>
            }
            else
            {
                <div class="form-group">
                    <select name="Title">
                        <option text="undecided" value="undecided">still undecided</option>
                        <option value="enlisted">enlisted</option>
                        <option value="a commissioned officer">a commissioned officer</option>
                        <option value="a warrant officer">a warrant officer</option>
                    </select>
                </div>
            }

            in the

            @if (Model.Branch == "Army")
            {
                <div class="form-group">
                    <select name="Branch">
                        <option value="Army">Army</option>
                        <option value="Air Force">Air Force</option>
                        <option value="Navy">Navy</option>
                        <option value="Marines">Marines</option>
                        <option value="Coast Guard">Coast Guard</option>
                        <option text="undecided" value="undecided">undecided</option>
                    </select>
                </div>
            }
            else if (Model.Branch == "Air Force")
            {
                <div class="form-group">
                    <select name="Branch">
                        <option value="Air Force">Air Force</option>
                        <option value="Army">Army</option>
                        <option value="Navy">Navy</option>
                        <option value="Marines">Marines</option>
                        <option value="Coast Guard">Coast Guard</option>
                        <option text="undecided" value="undecided">undecided</option>
                    </select>
                </div>
            }
            else if (Model.Branch == "Navy")
            {
                <div class="form-group">
                    <select name="Branch">
                        <option value="Navy">Navy</option>
                        <option value="Army">Army</option>
                        <option value="Air Force">Air Force</option>
                        <option value="Marines">Marines</option>
                        <option value="Coast Guard">Coast Guard</option>
                        <option text="undecided" value="undecided">undecided</option>
                    </select>
                </div>
            }
            else if (Model.Branch == "Marines")
            {
                <div class="form-group">
                    <select name="Branch">
                        <option value="Marines">Marines</option>
                        <option value="Army">Army</option>
                        <option value="Air Force">Air Force</option>
                        <option value="Navy">Navy</option>
                        <option value="Coast Guard">Coast Guard</option>
                        <option text="undecided" value="undecided">undecided</option>
                    </select>
                </div>
            }
            else if (Model.Branch == "Coast Guard")
            {
                <div class="form-group">
                    <select name="Branch">
                        <option value="Coast Guard">Coast Guard</option>
                        <option value="Marines">Marines</option>
                        <option value="Army">Army</option>
                        <option value="Air Force">Air Force</option>
                        <option value="Navy">Navy</option>
                        <option text="undecided" value="undecided">undecided</option>
                    </select>
                </div>
            }
            else
            {
                <div class="form-group">
                    <select name="Branch">
                        <option text="undecided" value="undecided">undecided</option>
                        <option value="Army">Army</option>
                        <option value="Air Force">Air Force</option>
                        <option value="Navy">Navy</option>
                        <option value="Marines">Marines</option>
                        <option value="Coast Guard">Coast Guard</option>
                    </select>
                </div>
            }

            .  My best score so far on an ASVAB practice exam is

            <div class="form-group">
                @Html.EditorFor(model => model.PracticeScore, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PracticeScore, "", new { @class = "text-danger" })
            </div>

            (enter 0 if not taken yet), and my score on the real ASVAB exam is
            <div class="form-group">
                @Html.EditorFor(model => model.AsvabScore, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AsvabScore, "", new { @class = "text-danger" })
            </div>
            </div>

            <div class="form-group ViewProfileSections row">
                <input type="submit" value="Update Profile" class="btn btn-default" />
            </div>

        </section>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
