@model IEnumerable<ReadyRecruit.Models.Profile>

@{
    ViewBag.Title = "Profile";
}


<section id="viewProfile">
    <h1>Your Profile</h1>
    @foreach (var item in Model)
    {
        <p class="row profile">
            Hi.  My name is
            <span class="profileData">
                @Html.DisplayFor(modelItem => item.FName)
            </span>
            <span class="profileData">@Html.DisplayFor(modelItem => item.LName) </span>.
            I am a
            <span class="profileData">
                @Html.DisplayFor(modelItem => item.Gender.Type)
            </span>
            who was born on
            <span class="profileData">
                @Html.DisplayFor(modelItem => item.BirthDate)
            </span>
            and am
            <span class="profileData">
                @Html.DisplayFor(modelItem => item.Height)
            </span>
            inches tall and weigh
            <span class="profileData">
                @Html.DisplayFor(modelItem => item.Weight)
            </span>
            pounds.  I
            <span class="profileData">
                @Html.DisplayFor(modelItem => item.Education.EduLevel)
            </span>
            and am
            <span class="profileData">
                @Html.DisplayFor(modelItem => item.MaritalStat.Status)
            </span>
            with
            <span class="profileData">
                @Html.DisplayFor(modelItem => item.Dependents)
            </span>
            children or others that depend on me for their support.


            @if ((item.Title == null || item.Title == "" || item.Title == "undecided") && (item.Branch == null || item.Branch == "" || item.Branch == "undecided"))
            {
                <span>I have <span class="profileData">not yet decided</span> on a branch of the military (Army, Air Force, etc...) or whether I want to go in as <span class="profileData">an officer or an enlisted soldier</span>.</span>
            }
            else if (item.Title == null || item.Title == "" || item.Title == "undecided")
            {
                <span>
                    I want to join the <span class="profileData">@Html.DisplayFor(modelItem => item.Branch) </span>, but have not yet decided whether to go in as <span class="profileData">an officer or an enlisted soldier</span>.
                </span>
            }
            else if (item.Branch == null || item.Branch == "" || item.Branch == "undecided")
            {
                <span>
                    I want to be <span class="profileData">@Html.DisplayFor(modelItem => item.Title) </span>, but have <span class="profileData">not yet decided</span> on a branch (Army, Air Force, etc...).
                </span>
            }
            else
            {
                <span>
                    I want to be <span class="profileData">
                        @Html.DisplayFor(modelItem => item.Title)
                    </span> in the<span class="profileData"> @Html.DisplayFor(modelItem => item.Branch) </span>
                </span>
            }
            . I have
            @if (item.PriorService.PriorServiceID == 1)
            {
                <span class="profileData">no</span>
            }
            prior service in the military.

            @if (item.PracticeScore > 0)
            {
                <span>I have taken an ASVAB practice test and my best score is <span class="profileData">@Html.DisplayFor(modelItem => item.PracticeScore) </span>.</span>
            }
            @if (item.AsvabScore > 0)
            {
                <span>My score on the real ASVAB test is <span class="profileData">@Html.DisplayFor(modelItem => item.AsvabScore) </span>.</span>
            }


            @*@Html.DisplayFor(modelItem => item.PointsTotal)

                @Html.DisplayFor(modelItem => item.PointsEarned)*@

            @*@Html.DisplayFor(modelItem => item.IsDone)*@

            @*@Html.DisplayFor(modelItem => item.PriorService.PriorServiceID)*@

            @*@Html.DisplayFor(modelItem => item.AspNetUser.Email)*@

        </p>
        <div class="ViewProfileSelections row">
            <button type="button" class="btn btn-default">
                @Html.ActionLink("Update Profile", "Edit", new { id = item.ProfileID }) 
            </button>
                <button type="button" class="btn btn-default">
                    @Html.ActionLink("Get Started!", "StepPage", "Mainsteps", protocol: null, hostName: null, fragment: null, routeValues: null, htmlAttributes: null)
                </button>
        </div>
    }
</section>
}
